html, body {
    height: 100%;
    width: 100%;
  }
  .center
  {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
  }
  .container{
    font-size: 45px;
  }
  .content{
    font-size: 25px;
    color:white;
  }